<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="userid" value="admin@mod362200.onmicrosoft.com" />
    <add key="password" value="" />
    <add key="siteurl" value="https://mod362200.sharepoint.com/sites/pub" />
    <add key="receiverurl" value="https://a5628bc1.ngrok.io/SPOLibRERService.svc"/>
    <add key="listname" value="Pages" />
    <add key="receivername" value="MylanItemDeletingEvent" />
    <add key="eventtype" value="ItemDeleting" />
  </appSettings>
</configuration>